.showcase_img_s{
	width: 100%;
}
.glyphicon{
	margin-left: 5px;
	margin-right: 5px;
}
.navbar-brand {
padding: 5px 15px 5px 15px;
}
/*
f7a64d
f8981d
e58115
db7107

*/
/*@media screen and (max-width: 1200px) {
	.showcase_img_s{
	margin-top:15%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	}
}*/