<div ng-include src="'themeplates/header.ejs'"></div>
<div class="container-narrow" ng-controller="PageCtrl">
	<h2>Created by Blackie</h2>
	<div class="list-group">
	    <a href="#" class="list-group-item"><span aria-hidden="true" class="icon-github"></span>[Source code]</a>
	    <a href="http://www.dotblogs.com.tw/blackie1019/Default.aspx" class="list-group-item"><span aria-hidden="true" class="icon-pencil"></span></span>[Develop and technical blog]</a>
	    <a href="mailto:blackie1019@gmail.com" class="list-group-item"><span aria-hidden="true" class="icon-envelope"></span>[Contack me](blackie1019[at]gmail.com)</a>
	</div>
</div>
<div ng-include src="'themeplates/footer.ejs'"></div>
<script>
	function PageCtrl($scope,$http,$location){
		$scope.welcomeStr="Hi";
	}
</script>