<div ng-include src="'themeplates/header.ejs'"></div>
<div class="container-narrow" ng-controller="authorPageCtrl">
	<h2>Created by Blackie</h2>
	<div class="list-group">
	    <a href="https://github.com/blackie1019/AWSArchitecture.git" target="_blank" class="list-group-item"><span aria-hidden="true" class="glyphicon icon-github"></span>[Source code]</a>
	    <a href="http://www.dotblogs.com.tw/blackie1019/Default.aspx" target="_blank" class="list-group-item"><span aria-hidden="true" class="glyphicon icon-pencil"></span></span>[Develop and technical blog]</a>
	    <a href="mailto:blackie1019@gmail.com" target="_blank" class="list-group-item"><span aria-hidden="true" class="glyphicon icon-envelope"></span>[Contack me](blackie1019[at]gmail.com)</a>
	</div>
</div>
<div ng-include src="'themeplates/footer.ejs'"></div>