<div ng-include src="'themeplates/header.ejs'"></div>
<div class="container-narrow" ng-controller="indexPageCtrl">
	<div class="jumbotron">
		<h1>Hi!</h1>
		<p>{{index.welcome}}</p>
		<div class="text-right">
			<a class="btn btn-info" href="#author">Contact me</a>
		</div>
		<div class="panel panel-info">
	      <div class="panel-heading">
	        <h3 class="panel-title">Update log</h3>
	      </div>
	      <div>
	        <ul class="list-group">
			    <li ng-repeat="update in index.updates" class="list-group-item">
		    		<h5 class="list-group-item-heading">{{update.time}}</h5>
	          		<p class="panel-title">{{update.note}}</p>
			    </li>
			</ul>
	      </div>
	    </div>
	</div>
</div>
<div ng-include src="'themeplates/footer.ejs'"></div>