<div ng-include src="'themeplates/header.ejs'"></div>
<div class="container-narrow" ng-controller="PageCtrl">
	keywords
</div>
<div ng-include src="'themeplates/footer.ejs'"></div>
<script>
	function PageCtrl($scope,$http,$location,$route){
	    $scope.items= $http.get('data.json').then(function(response) {
	      return response.data.keywords;
	    });
	}
</script>