<div ng-include src="'themeplates/header.ejs'"></div>
<div class="container-narrow" ng-controller="servicesPageCtrl">
  <div class="md" ng-bind-html="trustedHtml"></div>
</div>
<div ng-include src="'themeplates/footer.ejs'"></div>