<div ng-include src="'themeplates/header.ejs'"></div>
<div class="container-narrow" ng-controller="showcasesPageCtrl">
	<img class="showcase_img_s" src=img/case/{{imgURL}}></img>
</div>
<div ng-include src="'themeplates/footer.ejs'"></div>
